@model VehiclesModel

@{
    Layout = "_Layout";
    var title = "CREATE Vehicle";
    ViewData["Title"] = title;   
}
<style>

    .input-validation-error {
        border-color: red;
    }
</style>
<h4>@ViewData["Title"]</h4>
<form asp-controller="Home" asp-action="Create" method="post" class="form-horizontal" role="form">
    <div class="form-group">
        <div class="row">
            <div class="alert-danger" asp-validation-summary="ModelOnly">
            </div>
            <div class="col-xs-12 col-xm-12 col-md-6 col-lg-4">
                <label class="control-label">Vehicle Type</label>
                <select asp-for="VtId" class="form-control" asp-items="@(new SelectList(@ViewBag.ListOfVehicles,"VtId", "VehicletypeName"))"></select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-xm-12 col-md-6 col-lg-4">
                <label class="control-label">Make</label>
                <select asp-for="VmakeId" class="form-control" id="VmakeId" asp-items="@(new SelectList(string.Empty,"VmakeId", "VehiclemakeName"))"></select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-xm-12 col-md-6 col-lg-4">
                <label class="control-label">Model</label>
                <select asp-for="VmodelId" class="form-control" id="VmodelId" asp-items="@(new SelectList(string.Empty,"VmodelId", "VehiclemodelName"))"></select>
            </div>
        </div>
    </div>
    @*@if (Model.VtId != 0)
        {
            @if (Model.VtId == 1)
            {*@
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-xm-12 col-md-6 col-lg-4">
                <label asp-for="Engine"></label>
                <input asp-for="Engine" type="text" class="form-control" />
                <span asp-validation-for="Engine" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-xm-12 col-md-6 col-lg-4">
                <label asp-for="Wheels"></label>
                <input asp-for="Wheels" type="text" class="form-control" />
                <span asp-validation-for="Wheels" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-xm-12 col-md-6 col-lg-4">
                <label asp-for="Doors"></label>
                <input asp-for="Doors" type="text" class="form-control" />
                <span asp-validation-for="Doors" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-xm-12 col-md-6 col-lg-4">
                <label asp-for="BodyType"></label>
                <input asp-for="BodyType" type="text" class="form-control" />
                <span asp-validation-for="BodyType" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-xm-12 col-md-6 col-lg-4">
                <label asp-for="Colour"></label>
                <input asp-for="Colour" type="text" class="form-control" />
                <span asp-validation-for="Colour" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <input id="Submit" type="submit" value="Submit" />
            </div>
        </div>
    </div>
</form>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var items = "<option value='0'>Select</option>";
        $(VmakeId).html(items);
        $(VmodelId).html(items);
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#VtId').change(function () {
            var url = '@Url.Content("~/")' + "Home/GetMakeList";
            var ddlsource = "#VtId";
            $.getJSON(url, { VtId: $(ddlsource).val() }, function (data) {
                var items = '';
                $("#VmakeId").empty();
                $.each(data, function (i, make) {
                    items += "<option value='" + make.value + "'>" + make.text + "</option>";
                });
                $("#VmakeId").html(items);
            });
        });

        $('#VmakeId').change(function () {
            var url = '@Url.Content("~/")' + "Home/GetModelList";
            var ddlsource = "#VmakeId";
            $.getJSON(url, { VmakeId: $(ddlsource).val() }, function (data) {
                var items = '';
                $("#VmodelId").empty();
                $.each(data, function (i, model) {
                    items += "<option value='" + model.value + "'>" + model.text + "</option>";
                });
                $("#VmodelId").html(items);
            });
        });

    });
</script>
